<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="FeatureTests">
            <directory>feature</directory>
        </testsuite>
        <testsuite name="UnitTests">
            <directory>unit</directory>
        </testsuite>
<!--        <testsuite name="IntegrationTests">-->
<!--            <directory>integration</directory>-->
<!--        </testsuite>-->
    </testsuites>
</phpunit>